{{!-- Built using the cs_340 nodejs starter guide: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
{{!-- Create a table --}}
<table id = "genres_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.genreID}}</td>
            <td>{{this.genreDescription}}</td>
            <td><button onclick="deleteGenre({{this.genreID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_genre.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Adding Genre with AJAX</h2>
<p>To add a new genre, please enter their information below and click 'Submit'!</p>
<form id="add-genre-form-ajax">
    <label for="input-genreDescription">Genre Description: </label>
    <input type="text" name="input-genreDescription" id="input-genreDescription">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_genre.js"></script>

<h2>Updating A Genre Form</h2>
<p>To update a specific genre, select their name from the drop down form</p>
<form id="update-genre-form-ajax">

    <label for="input-genreID-update">Genre Description: </label>
    <select name="input-genreID-update" id="mySelectGenre">
        <option value="test">Select a Genre:</option>
        {{#each genres_list}}
        <option value="{{this.genreID}}">{{this.genreDescription}}, {{this.genreID}}</option>
        {{/each}}
    </select>

    {{!- <label for="input-firstName">first name: </label>
    <input type="text" name="input-firstName" id="input-firstName">

    <label for="input-lastName">last name: </label>
    <input type="text" name="input-lastName" id="input-lastName"> --}}

    <label for="input-genreDescription-update">Genre Description: </label>
    <input type="text" name="input-genreDescription-update" id="input-genreDescription-update">

    <input type="submit">

</form>

<script src="./js/update_genre.js"></script>